<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Yuk Belajar</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/style.css" /> </head>

<body>
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="/home/" class="logo"><img src="../static/images/icon.png" width="200px"></a>
            <nav id="nav">
                <a href="/home/">Home</a>
                <a href="/profile/">Profil</a>
                <a href="/tryout/">Tryout</a>
                <a href="/pg/">Passing Grade</a>
                <!-- <a href="/about/">About</a> -->
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>
    <!-- Banner -->
    <section id="banner" style="background-image: url('../static/images/Background.png');">
        <h2>Persiapkan dirimu menghadapi</h2>
				<h1>SBMPTN</h1>
				<p>Yakinkan dirimu dengan berlatih soal-soal Tryout, Periksa hasilnya secara langsung,
					<br>Berbagilah bersama teman seperjuanganmu, Siapkan dirimu untuk Universitas Impianmu</p>
                    <br>
                    <a href="/register/" class="button" style="background-color:white;"><span style="color:#5385c1;">Daftar Sekarang!</span></a>
			</section>


		<!-- Zero -->
		  <section id="zero" class="wrapper">
				<div class="inner">
					<div>
						<h2 style="text-align:center;">Apa saja yang bisa Kamu dapatkan di YukBelajar.com?</h2> </div>
        <br>
        <!-- ROW 1  -->
        <div class="s2" style="height:100px;margin-left:5%;">
            <div class="s3" style="height:100px;"> <img src="../static/images/ereader.png" style="width:100%;"></img>
            </div>
            <div class="s9" style="">
                <p class="feature_title">Tryout</p>
                <p class="feature_detail">Buat dirimu percaya diri dengan mengerjakan soal-soal SBMPTN yang telah kami siapkan.</p>
            </div>
        </div>
        <div class="s2" style="height:100px;">
            <div class="s3" style="height:100px;"> <img src="../static/images/graduate.png" style="width:100%;"></img>
            </div>
            <div class="s9" style="">
                <p class="feature_title">Passing Grade</p>
                <p class="feature_detail">Pantau Passing Grade Universitas Impianmu.</p>
            </div>
        </div>
        <!-- ROW 2 -->
        <div class="s2" style="height:100px;margin-left:5%;margin-top:5%;">
            <div class="s3" style="height:100px;"> <img src="../static/images/desktop.png" style="width:100%;"></img>
            </div>
            <div class="s9" style="">
                <p class="feature_title">Track Record</p>
                <p class="feature_detail">Pantau hasil Tryoutmu, sejauh mana soal yang kamu pahami, lihat dimana kesalahanmu.</p>
            </div>
        </div>
        <div class="s2" style="height:100px;">
            <div class="s3" style="height:100px;"> <img src="../static/images/chat.png" style="width:100%;"></img>
            </div>
            <div class="s9" style="">
                <p class="feature_title">Sharing</p>
                <p class="feature_detail">Berbagi informasi tentang SBMPTN, Universitas idaman dengan teman seperjuanganmu.</p>
            </div>
        </div>
        </div>
    </section>
    <!-- Two -->
    <section id="two" class="wrapper style1 special">
        <div class="inner">
            <header>
                <h2>Testimony</h2>
                <p style="font-size:1.3em">Pendapat siswa lain mengenai YukBelajar.com</p>
            </header>
            <div class="flex flex-4">
                <div class="box person">
                    <div class="image round"> <img src="../static/images/pic03.jpg" alt="Person 1" /> </div>
                    <h3>Fajar Yan Riyadi</h3>
                    <p>Teknologi Informasi UGM 13</p>
                    <p class="textquo">''Sebelum saya kenal YukBelajar.com saya tidak bisa mengikuti SBMPTN. Setelah saya mengetahui website YukBelajar.com saya jadi berani mengikuti SBMPTN''</p>
                </div>
                <div class="box person">
                    <div class="image round"> <img src="../static/images/pic04.jpg" alt="Person 2" /> </div>
                    <h3>Luthfan Nur Ubai</h3>
                    <p>Teknologi Informasi UGM 13</p>
                    <p class="textquo">''Sebelum saya kenal YukBelajar.com saya tidak bisa mengikuti SBMPTN. Setelah saya mengetahui website YukBelajar.com saya jadi berani mengikuti SBMPTN''</p>
                </div>
                <div class="box person">
                    <div class="image round"> <img src="../static/images/pic05.jpg" alt="Person 3" /> </div>
                    <h3>Patrick Star</h3>
                    <p>Bikini Bottom</p>
                    <p class="textquo">''Dumb people are always blissfuly unaware of how dumb they really are''</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Three -->
    <!--
    <section id="three" class="wrapper special">
        <div class="inner">
            <header class="align-center">
                <h2>Contact Us</h2>
                <p>Aliquam erat volutpat nam dui </p>
            </header>
            <div class="flex flex-2">
                <article>
                    <div class="image fit"> <img src="images/pic01.jpg" alt="Pic 01" /> </div>
                    <header>
                        <h3>Praesent placerat magna</h3> </header>
                    <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum.</p>
                    <footer> <a href="#" class="button special">More</a> </footer>
                </article>
                <article>
                    <div class="image fit"> <img src="images/pic02.jpg" alt="Pic 02" /> </div>
                    <header>
                        <h3>Fusce pellentesque tempus</h3> </header>
                    <p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
                    <footer> <a href="#" class="button special">More</a> </footer>
                </article>
            </div>
        </div>
    </section>
-->
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <div class="flex">
                <div class="copyright"> &copy;YukBelajar.com | Design: <a href="https://templated.co">TEMPLATED</a>. </div>
                <ul class="icons">
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                    <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                    <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/skel.min.js"></script>
    <script src="ass../staticets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>
