<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Passing Grade | Yuk Belajar</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/main.css" /> </head>

<body class="subpage">
  <!-- Header -->
  <header id="header">
      <div class="inner">
          <a href="/home/" class="logo"><img src="../static/images/icon.png" width="200px"></a>
          <nav id="nav">
              <a href="/home/">Home</a>
              <a href="/profile/">Profil</a>
              <a href="/tryout/">Tryout</a>
              <a href="/pg/">Passing Grade</a>
              <a href="/about/">About</a>
          </nav>
          <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
      </div>
  </header>
    <section id="three" class="wrapper">
        <div class="inner">
            <header class="align-center">
                <h2>Passing Grade</h2>
                <h3>Tahun 2016</h3>
            </header>
            <div class="flex flex-1">
                <div class="12u$" style="margin-bottom: 50px;">
                    <div class="select-wrapper">
                        <select name="category" id="category">
                            <option value="">- pilih perguruan tinggi -</option>
                            <option value="1">Universitas Gadjah Mada</option>
                            <option value="2">Institut Teknologi Bandung</option>
                            <option value="3">Universitas Indonesia</option>
                            <option value="4">Universitas Diponegoro</option>
                            <option value="">- lainnya -</option>
                        </select>
                    </div>
                    <a href="#" class="button special">Select</a>
                </div>


                <h3>Prodi Sains dan Teknologi</h3>
                <div class="table-wrapper-pg">
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama Prodi</th>
                            <th>Passing Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Ilmu Komputer UGM</td>
                            <td>51.80 %</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Kartografi dan Penginderaan Jauh UGM </td>
                            <td>44.56 %</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Kedokteran Hewan UGM</td>
                            <td>48.19 %</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Kehutanan UGM</td>
                            <td>43.50 %</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Pendidikan Dokter UGM </td>
                            <td>52.35 %</td>
                        </tr>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>

                <h3>Prodi Sosial Humaniora</h3>
                <div class="table-wrapper-pg">
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama Prodi</th>
                            <th>Passing Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Akuntansi</td>
                            <td>57.51 %</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Antropologi Budaya UGM</td>
                            <td>45.84 %</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Pariwisata UGM</td>
                            <td>40.28 %</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Pariwwisata UGM</td>
                            <td>54.37 %</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Psikologi UGM </td>
                            <td>53.25 %</td>
                        </tr>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>



    </div>
    </div>
    </section>
    <!-- Footer -->
    <footer id="footer">
                <div class="inner">
                    <div class="flex">
                        <div class="copyright"> &copy; YukBelajar.com | Design: <a href="https://templated.co">TEMPLATED</a>.</a>. </div>
                        <ul class="icons">
                            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                            <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                            <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
    <!-- Scripts -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/skel.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>
