<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Profil | Yuk Belajar</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">YukBelajar.com</a>
					<nav id="nav"> 
                        <a href="index.html">Home</a> 
                        <a href="tryout.html">Tryout</a> 
                        <a href="pg.html">Passing Grade</a> 
                    </nav> 
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Profil</h2>

                        <div class="image round"> <img src="images/pic03.jpg" alt="Person 1" /> </div>
                        <br><br>
                        <H3>Fajar Yan Riyadi</H3>
					</header>



					<div class="flex">
						<article>

							<header>
								<h3>Asal Sekolah</h3>
							</header>
							<p>SMA Negeri 10 Purwokerto</p>

						</article>
						<article>

							<header>
								<h3>Jurusan Yang diminati :</h3>
							</header>
							<p>1. <b>Teknik Kimia</b>, Universitas Gadjah Mada</p>
							<p>2. <b>Biologi</b>, Universitas Gadjah Mada</p>
							<p>3. <b>Fisika</b>, Universitas Gadjah Mada</p>

						</article>
						<article>

							<header>
								<h3>Hasil Tryout Sebelumnya :</h3>
							</header>
							<p>1. SBMPTN Saintek 2011, Soal A <b>(37/40)</b></p>
							<p>2. SBMPTN Saintek 2012, Soal C <b>(28/40)</b></p>
							<p>3. SBMTPN TPA 2011, Soal A <b>(50/60)</b></p>

						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->

        <footer id="footer">
        <div class="inner">
            <div class="flex">
                <div class="copyright"> &copy;YukBelajar.com | Design: <a href="https://templated.co">TEMPLATED</a>. </div>
                <ul class="icons">
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                    <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                    <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
                </ul>
            </div>
        </div>
    </footer>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
