<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>TryOut | Yuk Belajar</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" /> </head>

<body class="subpage">
    <!-- Header -->
    <header id="header">
        <div class="inner"> 
            <a href="index.html" class="logo">YukBelajar.com</a>
            <nav id="nav"> 
                <a href="index.html">Home</a> 
                <a href="profil.html">Profil</a> 
                <a href="pg.html">Passing Grade</a> 
            </nav> 
            <a href="#navPanel" class="navPanelToggle">
                <span class="fa fa-bars"></span>
            </a> 
        </div>
    </header>
    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <header class="align-center">
                <h2>Tryout</h2>
                <p>SBMPTN 2014 Soal A</p>
            </header>
            <!-- SOAL -->
            <!-- Soal 1 -->
            <p class="question">1. Mendel telah menemukan bahwa sifat-sifat makhluk hidup dapat diturunkan melalui faktor-faktor keturunan. Penemuan ini selanjutnya dikembangkan melalui penelitian-penelitian yang akhirnya menghasilkan fakta bahwa DNA membawa materi genetik. Melalui perkembangan bioteknologi muncullah teknik rekayasa genetika Dalam bidang kedokteran teknik rekayasa genetika dapat dimanfaatkan untuk menghasilkan ....</p>
            <div class="12u$(small)"> A.
                <input type="radio" id="answer1_1" name="answer1">
                <label for="answer1_1">vaksin hepatitis B dan interferon alfa</label>
            </div>
            <div class="12u$(small)"> B.
                <input type="radio" id="answer1_2" name="answer1">
                <label for="answer1_2">insulin manusia dan antibodi monoklonal</label>
            </div>
            <div class=" 12u$(small)"> C.
                <input type="radio" id="answer1_3" name="answer1">
                <label for="answer1_3">antibiotika dan hormon pertumbuhan</label>
            </div>
            <div class="12u$(small)"> D.
                <input type="radio" id="answer1_4" name="answer1">
                <label for="answer1_4">enzim restriksi dan protein sel tunggal</label>
            </div>
            <div class="12u$(small)"> E.
                <input type="radio" id="answer1_5" name="answer1">
                <label for="answer1_5">asam amino dan vitamin</label>
            </div>
            <br>
            <!-- Soal 2 -->
            <p class="question">2. Sekelompok siswa sedang mengamati cumi-cumi, kerang, dan bekicot. Hewan-hewan tersebut mempunyai persamaan, yaitu bertubuh lunak sehingga hewan tersebut dimasukkan dalam kelompok ....</p>
            <div class="12u$(small)"> A.
                <input type="radio" id="answer2_1" name="asnwer2">
                <label for="answer2_1">Molusca</label>
            </div>
            <div class="12u$(small)"> B.
                <input type="radio" id="answer2_2" name="asnwer2">
                <label for="answer2_2">chephalopoda</label>
            </div>
            <div class=" 12u$(small)"> C.
                <input type="radio" id="answer2_3" name="asnwer2">
                <label for="answer2_3">gastropoda</label>
            </div>
            <div class="12u$(small)"> D.
                <input type="radio" id="answer2_4" name="asnwer2">
                <label for="answer2_4">bivalvia</label>
            </div>
            <div class="12u$(small)"> E.
                <input type="radio" id="answer2_5" name="asnwer2">
                <label for="answer2_5">pelecypoda</label>
            </div>
            <br>
            <!-- Soal 3 -->
            <p class="question">3. Hasil tes urin seseorang ternyata mengandung protein. Hal ini menunjukkan adanya gangguan pada proses ...</p>
            <div class="12u$(small)"> A.
                <input type="radio" id="answer3_1" name="asnwer3">
                <label for="answer3_1">penyaringan darah di glomerulus</label>
            </div>
            <div class="12u$(small)"> B.
                <input type="radio" id="answer3_2" name="asnwer3">
                <label for="answer3_2">penyerapan kembali pada tubula kontorti distal</label>
            </div>
            <div class=" 12u$(small)"> C.
                <input type="radio" id="answer3_3" name="asnwer3">
                <label for="answer3_3">pengumpulan urin primer di tubula kontorti proksimal</label>
            </div>
            <div class="12u$(small)"> D.
                <input type="radio" id="answer3_4" name="asnwer3">
                <label for="answer2_4">penampungan urin di pelvis renalis</label>
            </div>
            <div class="12u$(small)"> E.
                <input type="radio" id="answer3_5" name="asnwer3">
                <label for="answer3_5">penyaluran urin di saluran ureter</label>
            </div>
            <br>
            <!-- Soal 4 -->
            <p class="question">4. Hormon LH (luteinizing hormon) dalam sistem reproduksi berperan dalam proses ....</p>
            <div class="12u$(small)"> A.
                <input type="radio" id="asnwer4_1" name="asnwer4">
                <label for="asnwer4_1">Ovulasi</label>
            </div>
            <div class="12u$(small)"> B.
                <input type="radio" id="asnwer4_2" name="asnwer4">
                <label for="asnwer4_2">kontraksi uterus</label>
            </div>
            <div class=" 12u$(small)"> C.
                <input type="radio" id="asnwer4_3" name="asnwer4">
                <label for="asnwer4_3">sekresi estrogen</label>
            </div>
            <div class="12u$(small)"> D.
                <input type="radio" id="asnwer4_4" name="asnwer4">
                <label for="asnwer4_4">sekresi kelenjar susu</label>
            </div>
            <div class="12u$(small)"> E.
                <input type="radio" id="asnwer4_5" name="asnwer4">
                <label for="asnwer4_5">pertumbuhan folikel primer</label>
            </div>
            <!-- Soal 4 -->
            <br>
            <p class="question">5. Respirasi merupakan proses pembebasan energi yang tersimpan dalam zat-zat makanan. Pada proses katabolisme karbohid"rat terjadi tiga tahapan reaksi, yaitu glikolisis, siklus Krebs dan transpor elektron. Melalui siklus Krebs akan dihasilkan ....</p>
            <div class="12u$(small)"> A.
                <input type="radio" id="asnwer5_1" name="asnwer5">
                <label for="asnwer4_1">8 NADH, 2 FADH2, dan 2 ATP</label>
            </div>
            <div class="12u$(small)"> B.
                <input type="radio" id="asnwer5_2" name="asnwer5">
                <label for="asnwer4_2">2 NADH dan 2 ATP</label>
            </div>
            <div class=" 12u$(small)"> C.
                <input type="radio" id="asnwer5_3" name="asnwer5">
                <label for="asnwer5_3">4 NADH, 1 FADH2 dan 1 ATP</label>
            </div>
            <div class="12u$(small)"> D.
                <input type="radio" id="asnwer5_4" name="asnwer5">
                <label for="asnwer5_4">2 NADH dan 34 ATP</label>
            </div>
            <div class="12u$(small)"> E.
                <input type="radio" id="asnwer5_5" name="asnwer5">
                <label for="asnwer5_5">8 NADH dan 2 FADH2</label>
            </div> <a href="#" class="button special" style="margin-top:2%;">Submit</a> <a href="#" class="button alt" style="align:right;">Back to the Top</a>
            
        </div>
    </section>
            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <div class="flex">
                        <div class="copyright"> &copy; YukBelajar.com | Design: <a href="https://templated.co">TEMPLATED</a>.</a>. </div>
                        <ul class="icons">
                            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                            <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                            <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
            <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>
</body>

</html>